<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webstyle.css">
</head>
<body>
<h1>Iot Sensor Dashboard</h1>
<div class="centered">
    <H2> </H2><br>
    <form action="/Dbsensor/history" method="get">
        <label><b> Sök bland historiska mätningar </b></label><br><br>
        <input type="submit" value="submit"><br><br>
    </form>

    <form action="/Dbsensor/latest" method="get">
        <label><b> Se senaste mätningen </b></label><br><br>
        <input type="submit" value="submit"><br><br>
    </form>
</div>

</body>
</html>